.banner {
  background-color: $background;
  height: 450px;
  width: 100%;

  &__img-list {
    height: 450px;
    width: 100%;
  }

  &__img-item {
    background: url('https://static.coupangcdn.com/pa/cmg_paperboy/image/1647244593217/220210_%EC%BF%A0%ED%8C%A1%EB%B9%84%EC%A6%88_SMD-15590_PC%284%29.jpg')
      center no-repeat;
    height: 100%;
    width: 100%;
  }

  &__selected-product {
    @include flexbox();
    position: relative;
  }

  &__thumbnail-list {
    box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
    position: absolute;
    right: 10px;
    top: 37px;
  }

  &__thumbnail-item {
    border-bottom: 1px solid $border;
    height: 60px;
    width: 180px;
  }

  &__thumbnail-item:hover {
    outline: 2px solid $blue;
    outline-offset: -2px;
  }

  &__thumbnail--container {
    height: 450px;
    position: absolute;
    top: 0;
    width: 1000px;
  }
}

.selected-banner {
  outline: 2px solid $blue;
  outline-offset: -2px;
}
